<!--Geoadmin tree module configuration-->
<geoadmin-module ng-controller="GaTreeMapConfigurationController"
                        extent="{{$ctrl.extent?$ctrl.extent:null}}"
                        tree-configuration="{{$ctrl.treeConfiguration?$ctrl.treeConfiguration:null}}"
                        backgrounds-configuration="{{$ctrl.backgroundsConfiguration?$ctrl.backgroundsConfiguration:null}}"
                        situation-map-configuration="{{$ctrl.situationMapConfiguration?$ctrl.situationMapConfiguration:null}}"
                        language-configuration="{{$ctrl.languageConfiguration?$ctrl.languageConfiguration:null}}"
                        default-attribution="{{$ctrl.defaultAttribution?$ctrl.defaultAttribution:null}}">
</geoadmin-module>